body {
  padding: 0;
  margin: 0;
  background-color: #aebccb;
  color: #2b3674;
  font-family: "DM Sans", sans-serif;
}

/* Styling for icons */
.material-icons-outlined {
  vertical-align: middle;
  line-height: 1;
  font-size: 35px;
}

/* Grid layout for the page */
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}
/* HEADER */
/* Styling for the header section */
.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

/* Styling for the right side of the header */
.header-right {
    display: flex;
    align-items: center;
    padding: 6px;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 25px;
}

/* Styling for the search container */
.search-container {
    position: relative;
}

/* Styling for the search input */
#search-input {
    margin-left: -18px;
    padding-left: 30px;
    /* Space for the search icon */
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    outline: none;
    font-size: 16px;
    background-color: #f4f7fe;
    cursor: pointer;
}

/* Styling for the search icon */
.search-icon {
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}

/* SIDEBAR */
/* Styling for the sidebar section */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* Styling for the list items in the sidebar */
.sidebar-list {
  margin: 0 50px 0 15px;
  font-size: 15px;
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 10px 10px;
  color: #040404;
  border-radius: 20px;
}
.sidebar-list-item #profile {
  cursor: pointer;
  margin-top: 180px;
}
.sidebar-list-item:hover {
  background-color: #bdc3dc;
  cursor: pointer;
}

.sidebar-list-item img {
  height: 15px;
  padding-top: 1px;
  padding-right: 10px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 0;
  cursor: pointer;
}

.sidebar-brand {
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
}
.sidebar-brand >span {
  margin-right: 10px;
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.purple-logout-button {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 20px; /* Add margin at the bottom to create distance from other elements */
}

/* Styling for the Purple Login Button */
.purple-logout-button .btn {
  background-color: #7b32ff;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

/* Hover Effect for the Purple button */
.purple-logout-button .btn:hover {
  background-color: #9d4aff;
}
.purple-logout-button a {
  text-decoration: none;
}

/* Hover Effect for the Purple Login Button */
.purple-logout-button .btn:hover {
  background-color: #9d4aff;
}
#btn-primary-submit {
  background-color: #7b32ff;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0 0 10px;
    float: right;
    margin-right: 160px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
/* MAIN */
/* Styling for the main content section */
* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding:  20px;
}

.main-title {
  margin-top: 50px; /* Add top margin */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title > p {
  font-size: 20px;
  position: absolute;
  left: 290px;
}
/* Form Styling */
.login-form {
  max-width: 1000px;
  width: 100%;
  height: 480px;
  margin: 50px auto; /* Center the login form horizontally and provide top margin */
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: -30px;
  text-align:left;
}

.form-group {
  margin-bottom: 5px;
  margin-left: -30px;
}

.form-group label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #2b3674;
}

.form-group input {
  width: 80%;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input::placeholder {
  color: #ccc;
}

.btn-primary {
  background-color: #4318FF;
  color: #fff;
  font-size: 13px;
  padding: 13px;
  border-radius: 20px;
  cursor: pointer;
  position:absolute; /* Add absolute positioning for the button */
  bottom: 10px; /* Position the button at the bottom with some spacing */
  right: 270px; /* Position the button at the right with some spacing */
  width: 120px;
  transition: background-color 0.3s ease;
}


.btn-primary:hover {
  background-color: #9d4aff;
}
/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .login-form{
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}









