body {
  width: 30%;
  height: 100vh;
  background-color: #aebccb;
}

/* SIDEBAR */
/* Styling for the sidebar section */
#sidebar {
  /* margin-top: 0; */
  /* grid-area: sidebar; */
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* Styling for the list items in the sidebar */
.sidebar-list {
  margin: 0 50px 0 15px;
  font-size: 15px;
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 10px 10px;
  color: #040404;
  border-radius: 20px;
}

/* Add this CSS to your existing styles */
.sidebar-list-item a {
  text-decoration: none;
}

.sidebar-list-item:hover {
  background-color: #bdc3dc;
  cursor: pointer;
}

.btn {
  background-color: #4318FF;
  margin: 300px 30px 0;
  padding: 5px 40px;
  border-radius: 15px;
  border: 1px;
  cursor: pointer;
}

.sidebar-list-item img {
  height: 15px;
  padding-top: 1px;
  padding-right: 10px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.sidebar-brand {
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-brand > span {
  margin-right: 10px;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}