/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: #aebccb;
  color: #2b3674;
  font-family: "DM Sans", sans-serif;
}

/* Styling for icons */
.material-icons-outlined {
  vertical-align: middle;
  line-height: 1;
  font-size: 35px;
}

/* Grid layout for the page */
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* HEADER */
/* Styling for the header section */
.header {
  grid-area: header;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/* Styling for the right side of the header */
.header-right {
  display: flex;
  align-items: center;
  padding: 6px 25px;
  background-color: #ffffff;
  border-radius: 25px;
}

/* Styling for the search container */
.search-container {
  position: relative;
}

/* Styling for the search input */
#search-input {
  margin-left: -18px;
  padding: 0 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 30px;
  outline: none;
  font-size: 16px;
  background-color: #f4f7fe;
  cursor: pointer;
}

/* Styling for the search icon */
.search-icon {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}

/* SIDEBAR */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-list {
  margin: 0 50px 0 15px;
  font-size: 15px;
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 10px 10px;
  color: #040404;
  border-radius: 20px;
}

.sidebar-list-item a {
  text-decoration: none;
}

.sidebar-list-item:hover {
  background-color: #bdc3dc;
  cursor: pointer;
}

.sidebar-list-item img {
  height: 15px;
  padding-top: 1px;
  padding-right: 10px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.purple-logout-button {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.purple-logout-button .btn {
  background-color: #7b32ff;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.purple-logout-button .btn:hover {
  background-color: #9d4aff;
}

.purple-logout-button a {
  text-decoration: none;
}

.sidebar-brand {
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-brand > span {
  margin-right: 10px;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* MAIN */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 0 20px;
  margin: 0;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
  margin: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-right: 50px;
  padding: 0;
}

.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translate(-5px);
  box-shadow: 0px 8px 16px rgba(31, 29, 29, 0.2);
}

.card img {
  max-height: 30px;
  background-color: #f4f7fe;
  border-radius: 50%;
  margin-right: 10px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-inner > p {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.charts {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #f8f9fa, #f0f0f0);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}
/* Styles for Recent Payments */
.recent-payments {
  cursor: pointer;
  margin-top: 20px;
  padding: 0 20px;
  overflow-y: auto;
  max-height: calc(100vh - 400px);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-title {
  font-size: 24px;
}

.see-all {
  color: #7b32ff;
  text-decoration: none;
  font-size: 16px;
}

.payment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.payment-time {
  color: #888;
  font-size: 14px;
}

.payment-amount {
  font-size: 18px;
  color: #7b32ff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
/* SCROLLBARS */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
