<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hospital Management</title>
        <!-- Custom Css -->
        <link rel="stylesheet" href="../CSS/hospital_management.css" />
        <!-- Poppins fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap"
            rel="stylesheet" />
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    </head>

    <body>
        <div class="grid-container">
            <!-- Header -->
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <h4>Hospital Management</h4>
                </div>
                <div class="header-right">
                    <div class="search-container">
                        <input type="search" name="search" id="search-input" placeholder="Search" />
                        <span class="material-icons-outlined search-icon">search</span>
                    </div>
                    <span class="material-icons-outlined">nightlight_round</span>
                    <span class="material-icons-outlined">account_circle</span>
                </div>
            </header>

            <!-- sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand"><span class="material-icons-outlined">medication</span><strong><a
                        href="index.html">MEDCONNECT</a></strong></div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close_fullscreen</span>
                </div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item"><img src="../images/Dashboard.png" alt="Dashboard icon" /><a
                        href="index.html">Dashboard</a></li>
                    <li class="sidebar-list-item"><img src="../images/patient_management.png"
                        alt="Patient Administration image" /><a href="add_patient.html">Patient Records</a></li>
                    <li class="sidebar-list-item"><img src="../images/hospital_management.png" alt="" /><a
                        href="hospital_management.html">Hospital Management</a></li>
                    <li class="sidebar-list-item"><img src="../images/patient_testing.png" alt="" /><a
                        href="patient_testing_log.html">Patient Testing</a></li>
                    <!--<li class="sidebar-list-item"><img src="../images/operation_theater.png" alt="" /><a
                        href="operation_theater_booking.html" class="href">Operation Theater</a></li>-->
                    <li class="sidebar-list-item"><img src="../images/staffs.png" alt="" /><a href="#">Staff
                        Management</a></li>
                    <li class="sidebar-list-item"><img src="../images/user.png" alt="" /><a href="patient_management.html">User Management</a></li> 
                    <li class="sidebar-list-item"><img src="../images/doctor.png" alt="" /><a href="doctor_management.html">Doctor
                        Management</a></li>
                    <li class="sidebar-list-item"><img src="../images/operation_theater.png" alt=""> <a
                          href="Scheduling.html">Scheduling</a></li>
                    <li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" /><a href="Patient_Reports.html">Appointments</a></li>
                    <li class="sidebar-list-item"><img src="../images/Reports.png" alt="" /><a href="generate_bill.html">General Bills</a></li>
                    <!--<li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" />Staff Attendance</li>-->
                    <!-- <li class="sidebar-list-item"><img src="../images/patient_data.png" alt="" /><a href="patient_data.html">Patient Reports</a></li> -->
                    <li class="sidebar-list-item"><img src="../images/profile.png" id="profile" /><a
                        href="profile.html">Profile</a></li>
                  </ul>
                <div class="purple-logout-button">
                    <button type="button" class="btn btn-purple"><a href="login.html">Logout</a></a></button>
                </div>
            </aside>

            <!-- MAIN -->
            <main class="main-container">
                <div class="main-title">
                    <p class="branch">Kigali branch</p>
                </div>

                <div class="main-cards">

                    <div class="card"id="card-1">
                        <div class="card-inner" >
                        <img src="../images/patient_management2.png">
                        </div>
                         <span class="number">12,576</span>
                         <p class="text-primary">Number of Patients</p>
                       
                    </div>

                    <div class="card"id="card-2">
                        <div class="card-inner" >
                    
                            <img src="../images/ph_money-thin.png">
                        </div>
                        <span class="number">RWF 2,000,000</span>
                        <p class="text-primary">Revenue Generated</p>
                        
                    </div>
                        <div class="stars-grid">
                            
                            <!-- 5 rows and 5 columns of stars -->
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                </div>
                <div class="charts-card">
                    <p class="chart-title">Bed Occupancy Rate: 67%</p>
                    <div id="pie-chart"></div>
                </div>

        </div>
        </main>
        <!-- End Main -->

        </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="../Template/js/script.js"></script>

    </body>

</html>