<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../CSS/login.css" />
    <!-- Poppins fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="login-form">
          <div class="branch">
            <h1>Hospital branch</h1>
            <p>Enter your email and password to login!</p>
            <input type="text" placeholder="Select your branch..." /> 
          </div>
          <div class="email">
            <h4>Email*</h4>
            <input type="email" name="mail@simple.com" placeholder="mail@simmmple.com" id="email" />
          </div>
          <div class="password">
            <h4>Password*</h4>
            <input type="password" placeholder="Min. 8 characters" name="Min" id="pwd" />
            <p>Forget password?</p>
            <div>
              <label for="Keep-log-in" id="checkbox"> <input type="checkbox" /> Keep me logged in </label>
            </div>
          </div>
          <button><a href="../Template/dashboard.html">Login</a></button>
        </div>
        <div id="login-image">
          <img src="../images/login.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
