<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Patient Testing Log</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/patient_testing_log.css">
    <!-- Poppins fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
          <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
          </div>
          <div class="header-left">
            <h4>Patient Testing Log</h4>
          </div>
          <div class="header-right">
            <div class="search-container">
              <input type="search" name="search" id="search-input" placeholder="Search" />
              <span class="material-icons-outlined search-icon">search</span>
            </div>
            <span class="material-icons-outlined">nightlight_round</span>
            <span class="material-icons-outlined">account_circle</span>
          </div>
        </header>
        <!-- sidebar -->
        <!-- sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand"><span class="material-icons-outlined">medication</span><strong><a
            href="index.html">MEDCONNECT</a></strong></div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close_fullscreen</span>
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item"><img src="../images/Dashboard.png" alt="Dashboard icon" /><a
              href="index.html">Dashboard</a></li>
          <li class="sidebar-list-item"><img src="../images/patient_management.png"
              alt="Patient Administration image" /><a href="add_patient.html">Patient Records</a></li>
          <li class="sidebar-list-item"><img src="../images/hospital_management.png" alt="" /><a
              href="hospital_management.html">Hospital Management</a></li>
          <li class="sidebar-list-item"><img src="../images/patient_testing.png" alt="" /><a
              href="patient_testing_log.html">Patient Testing</a></li>
          <!--<li class="sidebar-list-item"><img src="../images/operation_theater.png" alt="" /><a
              href="operation_theater_booking.html" class="href">Operation Theater</a></li>-->
          <li class="sidebar-list-item"><img src="../images/staffs.png" alt="" /><a href="#">Staff
              Management</a></li>
          <li class="sidebar-list-item"><img src="../images/user.png" alt="" /><a href="patient_management.html">User Management</a></li>
          <li class="sidebar-list-item"><img src="../images/doctor.png" alt="" /><a href="doctor_management.html">Doctor
              Management</a></li>
          <li class="sidebar-list-item"><img src="../images/operation_theater.png" alt=""> <a
                href="Scheduling.html">Scheduling</a></li>
          <li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" /><a href="Patient_Reports.html">Appointments</a></li>
          <li class="sidebar-list-item"><img src="../images/Reports.png" alt="" /><a href="generate_bill.html">General Bills</a></li>
          <!--<li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" />Staff Attendance</li>-->
          <!-- <li class="sidebar-list-item"><img src="../images/patient_data.png" alt="" /><a href="patient_data.html">Patient Reports</a></li> -->
          <li class="sidebar-list-item"><img src="../images/profile.png" id="profile" /><a
              href="profile.html">Profile</a></li>
        </ul>
        <div class="purple-logout-button">
          <button type="button" class="btn btn-purple"><a href="login.html">Logout</a></a></button>
      </div>          
      </aside>
      <!-- Main -->
    <main class="main-container">
      <form action="">
        <div class="card">
          <div class="container">
            <div class="main-title">
              <h4>Kigali branch</h4>
            </div>
            <div class="form-group">
              <label for="PatientId">
                <h7>Patient ID:</h7>
              </label>
              <input type="text" id="patientId" name="patientId" placeholder="Enter patient ID">
            </div>
    
            <div class="form-group">
              <label for="testType">
                <h7>Test Type:</h7>
              </label>
              <input type="text" id="testType" name="testType" placeholder="Enter test type">
            </div>
    
            <div class="form-group">
              <label for="testDate">
                <h7>Test Date:</h7>
              </label>
              <input type="date" id="testDate" name="testDate">
            </div>
    
            <div class="form-group">
              <label for="testResult">
                <h7>Test Result:</h7>
              </label>
              <input type="text" id="testResult" name="testResult" placeholder="Enter test result">
            </div>
            <div class="purple-addpatient-button">
              <button type="button" class="btn btn-purple">Add Patient</button>
            </div>
          </div>
        </div>
      </form>
    </main>

        <!-- custom js -->
    <script src="js/script.js"></script>
</body>
</html>
