<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Reports</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/reports.css">
    <!-- Poppins fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
          <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
          </div>
          <div class="header-left">
            <h4>Patient Reports</h4>
          </div>
          <div class="header-right">
            <div class="search-container">
              <input type="search" name="search" id="search-input" placeholder="Search" />
              <span class="material-icons-outlined search-icon">search</span>
            </div>
            <span class="material-icons-outlined">nightlight_round</span>
            <span class="material-icons-outlined">account_circle</span>
          </div>
        </header>
        <!-- sidebar -->
        <!-- sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand"><span class="material-icons-outlined">medication</span><strong>MEDCONNECT</strong></div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close_fullscreen</span>
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item"><img src="../images/Dashboard.png" alt="Dashboard icon" /> Dashboard</li>
          <li class="sidebar-list-item"><img src="../images/patient_management.png" alt="Patient Administration image" />Patient Administration</li>
          <li class="sidebar-list-item"><img src="../images/hospital_management.png" alt="" />Hospital Management</li>
          <li class="sidebar-list-item"><img src="../images/patient_testing.png" alt="" />Patient Testing</li>
          <li class="sidebar-list-item"><img src="../images/operation_theater.png" alt="" />Operation Theater</li>
          <li class="sidebar-list-item"><img src="../images/staffs.png" alt="" />Staff management</li>
          <li class="sidebar-list-item"><img src="../images/user.png" alt="" />User Management</li>
          <li class="sidebar-list-item"><img src="../images/doctor.png" alt="" />Doctor Management</li>
          <li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" />Staff Attendance</li>
          <li class="sidebar-list-item"><img src="../images/patient_data.png" alt="" />Patient Reports</li>
          <li class="sidebar-list-item"><img src="../images/profile.png" alt="" />Profile</li>
        </ul>
        <div class="purple-logout-button">
          <button type="button" class="btn btn-purple">Logout</button>
      </div>          
      </aside>
      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h4>Kigali branch</h4>
        </div>
        <div class="container">
            <h4>Payment details</h4>
            <table>
                <thead>
                  <tr>
                    <th>Users</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Kigali</td>
                        <td>12/12/2021</td>
                        <td>1000</td>
                    </tr>
        </div>
      </main>
      <script src="js/script.js"></script>
  </body>
</html>