<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Operation Theater Booking</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../CSS/operation_theater_booking.css">
        <!-- Poppins and Montserrat Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap"
            rel="stylesheet">
        <!-- Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    </head>

    <body>
        <div class="grid-container">
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <h4>Scheduling</h4>
                </div>
                <div class="header-right">
                    <div class="search-container">
                        <input type="search" name="search" id="search-input" placeholder="Search">
                        <span class="material-icons-outlined search-icon">search</span>
                    </div>
                    <span class="material-icons-outlined">nightlight_round</span>
                    <span class="material-icons-outlined">account_circle</span>
                </div>
            </header>
                        <!-- Sidebar -->
                        <aside id="sidebar">
                            <div class="sidebar-title">
                                <div class="sidebar-brand"><span class="material-icons-outlined">medication</span><strong><a
                                            href="index.html">MEDCONNECT</a></strong></div>
                                <span class="material-icons-outlined" onclick="closeSidebar()">close_fullscreen</span>
                            </div>
                             <ul class="sidebar-list">
                                <li class="sidebar-list-item"><img src="../images/Dashboard.png" alt="Dashboard icon" /><a
                                    href="index.html">Dashboard</a></li>
                                <li class="sidebar-list-item"><img src="../images/patient_management.png"
                                    alt="Patient Administration image" /><a href="add_patient.html">Patient Records</a></li>
                                <li class="sidebar-list-item"><img src="../images/hospital_management.png" alt="" /><a
                                    href="hospital_management.html">Hospital Management</a></li>
                                <li class="sidebar-list-item"><img src="../images/patient_testing.png" alt="" /><a
                                    href="patient_testing_log.html">Patient Testing</a></li>
                                <!--<li class="sidebar-list-item"><img src="../images/operation_theater.png" alt="" /><a
                                    href="operation_theater_booking.html" class="href">Operation Theater</a></li>-->
                                <li class="sidebar-list-item"><img src="../images/staffs.png" alt="" /><a href="#">Staff
                                    Management</a></li>
                                <li class="sidebar-list-item"><img src="../images/user.png" alt="" /><a href="patient_management.html">User Management</a></li>
                                <li class="sidebar-list-item"><img src="../images/doctor.png" alt="" /><a href="doctor_management.html">Doctor
                                    Management</a></li>
                                <li class="sidebar-list-item"><img src="../images/operation_theater.png" alt=""> <a
                                      href="Scheduling.html">Scheduling</a></li>
                                <li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" /><a href="Patient_Reports.html">Appointment</a></li>
                                <li class="sidebar-list-item"><img src="../images/Reports.png" alt="" /><a href="generate_bill.html">General Bills</a></li>
                                <!--<li class="sidebar-list-item"><img src="../images/staff_attendance_report.png" alt="" />Staff Attendance</li>-->
                                <!-- <li class="sidebar-list-item"><img src="../images/patient_data.png" alt="" /><a href="patient_data.html">Patient Reports</a></li> -->
                                <li class="sidebar-list-item"><img src="../images/profile.png" id="profile" /><a
                                    href="profile.html">Profile</a></li>
                              </ul>
                            <div class="purple-logout-button">
                                <button type="button" class="btn btn-purple"><a href="login.html">Logout</a></a></button>
                            </div>
                        </aside>
            <main class="main-container">
                <div class="main-title">
                    <p class="branch">Kigali branch</p>
                </div>
                <form class="login-form" id="Appointment-form"
                    <h2>Book an Appointment</h2>
                    <div class="form-group">
                        <label for="Patient_ID">Patient ID</label>
                        <input type="text" id="Patient_ID" placeholder="Enter patient's ID">
                    </div>
                    <div class="form-group">
                        <label for="">Procedure Type</label>
                        <input type="text" id="procedure-type" placeholder="Enter type of procedure">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" id="Appointment_Date">
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="time" id="Appointment_Time">
                    </div>
                    <button class="btn-primary " type="submit" id="submit-appointment">Book Now</button>
                </form>
            </main>
        </div>
        <!-- Scripts -->
        <!-- Custom JS -->
        <script src="../Template/js/script.js"></script>
        <script src="js/appointment.js"></script>

    </body>

</html>