<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Management</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../CSS/styles.css" />
    <!-- Poppins fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <h4>User Management</h4>
        </div>
        <div class="header-right">
          <div class="search-container">
            <input type="search" name="search" id="search-input" placeholder="Search" />
            <span class="material-icons-outlined search-icon">search</span>
          </div>
          <span class="material-icons-outlined">nightlight_round</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>

      <!-- sidebar -->
      <aside id="sidebar">
       
      </aside>

<!-- MAIN -->
   
      </main>
      <!-- End MAIN -->
    <!-- custom js -->
    <script src="js/script.js"></script>
  </body>
</html>
