<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../CSS/login.css" />
    <!-- Poppins fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="login-form">
          <form action="../Template/dashboard.html" method="post">
  <div class="branch">
    <h1>Hospital branch</h1>
    <p>Enter your email and password to login!</p>
    <select name="hospital_branch" id="hospital_branch">
      <option value="" selected disabled>Select your branch...</option>
      <option value="Kanombe Hospital">Kanombe Hospital</option>
      <option value="Plateau Poly-Clinic">Plateau Poly-Clinic</option>
      <option value="King Faisal Hospital">King Faisal Hospital</option>
      <option value="CHUK">CHUK</option>
      <option value="CHUB">CHUB</option>
      <option value="PolyFam Poly-Clinic">PolyFam Poly-Clinic</option>
    </select>
  </div>

            <div class="email">
              <h4>Email*</h4>
              <input type="email" name="email" placeholder="mail@simple.com" id="email" required />
            </div>
            <div class="password">
              <h4>Password*</h4>
              <input type="password" placeholder="Min. 8 characters" name="password" id="pwd" required />
              <p>Forget password?</p>
              <div>
                <label for="Keep-log-in" id="checkbox">
                  <input type="checkbox" name="keep_logged_in" /> Keep me logged in
                </label>
              </div>
            </div>
            <button  type="submit">Login</button>
          </form>
        </div>
        <div id="login-image">
          <img src="../images/login.png" alt="" />
        </div>
      </div>
    </div>
  </body>

</html>
