body {
  padding: 0;
  margin: 0;
  background-color: #e7e7e7;
  color: #2b3674;
  font-family: "DM Sans", sans-serif;
}

/* Styling for icons */
.material-icons-outlined {
  vertical-align: middle;
  line-height: 2px;
  font-size: 35px;
}

/* Grid layout for the page */
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
.menu-icon {
  display: none;
}
/* HEADER */
/* Styling for the header section */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

/* Styling for the right side of the header */
.header-right {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-left: 25px;
  background-color: #ffffff;
  border-radius: 25px;
}

/* Styling for the search container */
.search-container {
  position: relative;
  padding: 0px;
  margin: 0px;
}

/* Styling for the search input */
#search-input {
  margin-left: -18px;
  padding-left: 30px; /* Space for the search icon */
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 30px;
  outline: none;
  font-size: 16px;
  background-color: F4F7FE;
}

/* Styling for the search icon */
.search-icon {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}

/* SIDEBAR */
/* Styling for the sidebar section */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* Styling for the list items in the sidebar */
.sidebar-list {
  list-style: none;
}

/* MAIN */
/* Styling for the main content section */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}
